@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   line-height: 1.5;
   color: #555;
   font-size: 18px;
  background: #f9f9fb;
}

.page-header {
  padding: 15rem 1.5rem 10rem;
  position: relative;
}

.page-header:before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: block;
   width: 100%;
   background: rgba(255, 255, 255, .85);
}

.page-header .lead {
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   line-height: 1.5;
}

.navbar {
   background: rgba(0, 139, 196, 0.9);
}

.navbar-brand img {
   max-width: 250px;
}

.btn {
   border-radius: 2px;
   padding: .5rem 2rem;
   text-transform: uppercase;
   background: #008bc4;
   letter-spacing: 1px;
   color: #fff;
   font-weight: 300;
   opacity: 1;
}

.btn:hover {
   opacity: .85;
   background: #008bc4;
}

h1 {
   font-size: 50px;
}

h2 span {
   color: #008bc4;
}

.screen-capture {
   overflow-y: hidden;
   max-height: 400px;
}

.section-sub {
   background: #083e55;
   color: #fff;
}

@media (min-width: 990px) {
   .section-sub-text {
      margin-top: 8rem;
   }
}

.section-sub .mockup img {
   padding: 1rem 5rem 5rem;
   max-width: 100%;
}
.home-cta {
   background: url(../images/sign-up-cta.jpeg)  center / cover no-repeat;
   position: relative;
   padding: 5rem 1rem 7rem;
}

.home-cta .container-fluid {
   position: relative;
}

.home-cta h2,
.home-cta p {
   color: #fff;
}

.home-cta:before {
   content: '';
   position: absolute;
   background: rgba(0, 139, 196, 0.65);
   display: block;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
}

.card-form {
   max-width: 500px;
   margin: 0 auto;
}
.input-group-prepend .input-group-text {
   border-color: transparent;
   background-color: #c6c6c6;
   color: #04465f;
}
.form-control {
   background: #f0f0f0;
   border-color: transparent;
}

footer {
   background: #4c4c4c;
   color: #fff;
}

footer a {
   color: #39BAF3;
   opacity: 1;
}

footer a:hover {
   color: #39BAF3;
   opacity: .8;
   text-decoration: none;
}

.footer-bottom {
   background: #333;
}