@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   line-height: 1.5;
   color: #555;
  padding-top: 5rem;
}

.page-header {
  padding: 10rem 1.5rem;
  position: relative;
}

.page-header:before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: block;
   width: 100%;
   background: rgba(255, 255, 255, .85);
}



h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   line-height: 1.5;
}

.navbar {
   background: #008bc4;
}

.btn {
   border-radius: 0;
   text-transform: uppercase;
   background: #008bc4;
   color: #fff;
   font-weight: 300;
   opacity: 1;
}

.btn:hover {
   opacity: .85;
   background: #008bc4;
}

.screen-capture {
   overflow-y: hidden;
   max-height: 400px;
}

.section-sub {
   background: #083e55;
   color: #fff;
}

.section-sub .mockup img {
   padding: 1rem 5rem 5rem;
   max-width: 100%;
}


footer {
   background: #4c4c4c;
   color: #fff;
}